

            <!-- footer -->

<!-- for the copyright date purpose -->
<script>
    function todayDate(){
       var d = new Date();
       var n = d.getFullYear() + "  ";
       return document.getElementById("date").innerHTML = n;
     }
  </script>
  <!----X- for the copyright date purpose ----X-->
  
    <div class="butikFooter">
      <div class="row">
        <div class="about col-lg-4 col-md-6 col-sm-12">
          <h3>About Us</h3>
          <p><span>Attitude</span>
            Our voil is to always delever more than expeted, we don't try 
            to be original,we just try to
            be good and create a best relationship with you.</p>
        </div>
        <div class="contact col-lg-4 col-md-6 col-sm-12">
          <h3>Contact Us</h3>
          <a id="phone" href="https://api.whatsapp.com/send?phone=2507810980810"><i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp</a>
          <a href="mailto:butik004shop@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
          <br>
        </div>
        <div class="follow col-lg-4 col-md-6 col-sm-12">
          <h3>Follow Us</h3>
          
          <a href="https://web.facebook.com/butik004/"><i class="fa fa-facebook-official" aria-hidden="true"> Facebook</i></a>
          <a href="https://www.instagram.com/butik.004/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
        </div>
      </div>
      <p class="copyright"> &copy; Butik <em id="date"></em></p>
  </div>
  </body>
  </html>