<%- include("partials/header"); -%>
<br><br><br>

    <form class="box" action="index.html" method="post">
      <h1>login</h1>
      <input type="text" name="" placeholder="your name...">
      <input type="password" name="" placeholder="password...">
      <input type="submit" value="Login">
      
    </form>

