       <!-- header here -->
<%- include("partials/header"); -%>
<br>
<br>
<br>

       <<h2 class="our-products-title">All products</h2>
       <!--- product cards-->
         <div class="container-fluid bg-trasparent my-4 p-3 " style="position: relative;" >
             <div class="row ">
                 <div class="col col-lg-3 col-md-6 col-sm-12">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1624724848249?alt=media&token=3636e074-daa7-4291-9f96-8581e775ee99 " class="card-img-top" alt="jordan">
                         <div class="card-body">
                             <div class="clearfix mb-3"><span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">Air Force 1</h5>
                             <p class="size">size: 40-44</p>
                             <div class="text-center my-4"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
                         </div>

                     </div>
                 
                 </div>
                 <div class="col col-lg-3 col-md-6 col-sm-12">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1624729487597?alt=media&token=48fd8782-dca4-4679-a02f-9791a1633fc8" class="card-img-top" alt="jordan">
                         <div class="card-body">
                             <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">Air Jordan 1</h5>
                             <p class="size">size: 40-44</p>
      
                             <div class="text-center my-3"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
      
                         </div>
                     </div>
                 </div>
                 <div class="col col-lg-3 col-md-6 col-sm-12">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1624727578454?alt=media&token=268c58a9-2a54-4ff1-a1ce-670990a552a2" class="card-img-top" alt="shoes">
                       <div class="label-top shadow-sm">NEW</div>
                         <div class="card-body">
                             <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">Jordan 6</h5>
                             <p class="size">size: 40-44</p>
                             <div class="text-center my-4"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
                         </div>
                     </div>
                 </div>
                 <div class="col  col-lg-3 col-md-6 col-sm-12 ">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1625284015126?alt=media&token=a007cac0-cc10-4756-9444-c7a902fbaa2c" class="card-img-top" alt="jordan">
                         <div class="label-top shadow-sm">NEW</div>
                         <div class="card-body">
                             <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">LJordan 4</h5>
                             <p class="size">size: 40-44</p>
                             <div class="text-center my-4"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
                         </div>
                     </div>
                 </div>
                 <div class="col  col-lg-3 col-md-6 col-sm-12 ">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1625284015126?alt=media&token=a007cac0-cc10-4756-9444-c7a902fbaa2c" class="card-img-top" alt="jordan">
                         <div class="label-top shadow-sm">NEW</div>
                         <div class="card-body">
                             <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">LJordan 4</h5>
                             <p class="size">size: 40-44</p>
                             <div class="text-center my-4"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
                         </div>
                     </div>
                 </div><div class="col  col-lg-3 col-md-6 col-sm-12 ">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1625284015126?alt=media&token=a007cac0-cc10-4756-9444-c7a902fbaa2c" class="card-img-top" alt="jordan">
                         <div class="label-top shadow-sm">NEW</div>
                         <div class="card-body">
                             <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">LJordan 4</h5>
                             <p class="size">size: 40-44</p>
                             <div class="text-center my-4"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
                         </div>
                     </div>
                 </div><div class="col  col-lg-3 col-md-6 col-sm-12 ">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1625284015126?alt=media&token=a007cac0-cc10-4756-9444-c7a902fbaa2c" class="card-img-top" alt="jordan">
                         <div class="label-top shadow-sm">NEW</div>
                         <div class="card-body">
                             <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">LJordan 4</h5>
                             <p class="size">size: 40-44</p>
                             <div class="text-center my-4"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
                         </div>
                     </div>
                 </div><div class="col  col-lg-3 col-md-6 col-sm-12 ">
                     <div class="card h-100 shadow-sm"> <img src="https://firebasestorage.googleapis.com/v0/b/butik004.appspot.com/o/butik%2Fimage_1625284015126?alt=media&token=a007cac0-cc10-4756-9444-c7a902fbaa2c" class="card-img-top" alt="jordan">
                         <div class="label-top shadow-sm">NEW</div>
                         <div class="card-body">
                             <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">$34.98</span></div>
                             <h5 class="card-title">LJordan 4</h5>
                             <p class="size">size: 40-44</p>
                             <div class="text-center my-4"> <a href="/order" class="btn btn-warning">ORDER</a> </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    <!-----------footer here  -->

<%- include("partials/footer"); -%>