       <!-- header here -->
<%- include("partials/header"); -%>
<br><br><br>
<div class="container-fluid contact-tab">
    <h1 class="contactUs">
        Contact Us
    </h1>
    <p class="contactText">
        For a fast communitcation with us, We have chosen Email and WhatsApp to help you reachout to us like as fast as possible. 
        Click on the button bellow to get in touch with us, Thanks.
    </p>
    <a class="Email" href="mailto:balckcolorent@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email us </a><br><br><br>      
    <a class="WhatsApp" id="phone" href="tel:+2507810980810"><i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp</a>
    
   
</div>



       <!-----------footer here  -->

<%- include("partials/footer"); -%>