       <!-- header here -->
<%- include("partials/header"); -%>


<!-- --------slider here-------------- -->
<div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active img-slider">
        <div class="carousel-caption ">
          <h1>Get yoursel some shoes</h1>
          <h6>Butik offers quality product and a fast delivery</h6>
          <!-- <div class="link-area">
            <a href="/special" >Special Command here</a>
          </div> -->
        </div>
      </div>

      <div class="carousel-item  img-slider1">
        <div class="carousel-caption ">
          <h1>Get yoursel some shoes</h1>
          <h6>Butik offers quality product and a fast delivery</h6>
          <!-- <div class="link-area">
            <a href="/special" >Special Command here</a>
          </div> -->
        </div>
      </div>

      <div class="carousel-item  img-slider2">
        <div class="carousel-caption ">
          <h1>Get yoursel some shoes</h1>
          <h6>Butik offers quality product and a fast delivery</h6>
          <!-- <div class="link-area"> -->
            <!-- <a href="/special" >Special Command here</a> -->
          <!-- </div> -->
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>

    </a>

<!-------- ------ our products title  -------  -->
 <h2 class="our-products-title">Chech out our products</h2>
 <!--- product cards-->
   
 <div class="container-fluid bg-trasparent my-4 p-3 " style="position: relative;" >
  <div class="row ">
     <% products.reverse().forEach(product=>{ %>
         <%- `<div class="col col-lg-3 col-md-6 col-sm-12"><div class="card h-100 shadow-sm"><img src=${product.image} class="card-img-top" alt="jordan"><div class="card-body"><div class="clearfix mb-3"><span class="float-start badge rounded-pill bg-success">${product.price}</span></div><h5 class="card-title">${product.model}</h5><p class="size">${product.size}</p><div class="text-center my-4"><a href="/order/${product.model}" class="btn btn-warning">ORDER</a></div></div></div></div>`%>
      <% }) %>
         </div>
  </div>
</div> 

</div>

           <!---X---- product cards----X-->


          <!-----------footer here  -->

<%- include("partials/footer"); -%>